body{
    font-family: poppins;
}


.nav-bg{
    background-color: transparent;
    color: black;
}

.text{

    color: black;
}

.text:hover{

    color: blue;
}

.back-hero{

    background-image: url();
}

.path-1{
    animation:pathAnim-1 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  @keyframes pathAnim-1{
    0%{
      d: path("M 0,400 C 0,400 0,266 0,266 C 83.57142857142858,247.85714285714286 167.14285714285717,229.71428571428572 294,232 C 420.85714285714283,234.28571428571428 590.9999999999999,257.00000000000006 722,271 C 853.0000000000001,284.99999999999994 944.8571428571429,290.2857142857143 1058,288 C 1171.142857142857,285.7142857142857 1305.5714285714284,275.8571428571429 1440,266 C 1440,266 1440,400 1440,400 Z");
    }
    25%{
      d: path("M 0,400 C 0,400 0,266 0,266 C 105.32142857142858,248.10714285714286 210.64285714285717,230.21428571428572 348,225 C 485.35714285714283,219.78571428571428 654.7499999999999,227.25 761,247 C 867.2500000000001,266.75 910.3571428571429,298.7857142857143 1013,304 C 1115.642857142857,309.2142857142857 1277.8214285714284,287.6071428571429 1440,266 C 1440,266 1440,400 1440,400 Z");
    }
    50%{
      d: path("M 0,400 C 0,400 0,266 0,266 C 79.71428571428572,285.4642857142857 159.42857142857144,304.92857142857144 294,301 C 428.57142857142856,297.07142857142856 618,269.75 745,257 C 872,244.24999999999997 936.5714285714287,246.07142857142856 1042,250 C 1147.4285714285713,253.92857142857144 1293.7142857142858,259.9642857142857 1440,266 C 1440,266 1440,400 1440,400 Z");
    }
    75%{
      d: path("M 0,400 C 0,400 0,266 0,266 C 91.64285714285714,268.42857142857144 183.28571428571428,270.85714285714283 311,270 C 438.7142857142857,269.14285714285717 602.4999999999999,265 743,269 C 883.5000000000001,273 1000.7142857142858,285.14285714285717 1113,286 C 1225.2857142857142,286.85714285714283 1332.642857142857,276.42857142857144 1440,266 C 1440,266 1440,400 1440,400 Z");
    }
    100%{
      d: path("M 0,400 C 0,400 0,266 0,266 C 83.57142857142858,247.85714285714286 167.14285714285717,229.71428571428572 294,232 C 420.85714285714283,234.28571428571428 590.9999999999999,257.00000000000006 722,271 C 853.0000000000001,284.99999999999994 944.8571428571429,290.2857142857143 1058,288 C 1171.142857142857,285.7142857142857 1305.5714285714284,275.8571428571429 1440,266 C 1440,266 1440,400 1440,400 Z");
    }
  }

  .path-0{
    animation:pathAnim-0 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  @keyframes pathAnim-0{
    0%{
      d: path("M 0,400 C 0,400 0,133 0,133 C 130.17857142857142,120.78571428571428 260.35714285714283,108.57142857142857 366,103 C 471.64285714285717,97.42857142857143 552.75,98.49999999999999 657,112 C 761.25,125.50000000000001 888.6428571428571,151.42857142857142 1023,157 C 1157.357142857143,162.57142857142858 1298.6785714285716,147.78571428571428 1440,133 C 1440,133 1440,400 1440,400 Z");
    }
    25%{
      d: path("M 0,400 C 0,400 0,133 0,133 C 86.07142857142858,142.57142857142856 172.14285714285717,152.14285714285714 316,147 C 459.85714285714283,141.85714285714286 661.4999999999999,122 782,127 C 902.5000000000001,132 941.8571428571429,161.85714285714286 1038,167 C 1134.142857142857,172.14285714285714 1287.0714285714284,152.57142857142856 1440,133 C 1440,133 1440,400 1440,400 Z");
    }
    50%{
      d: path("M 0,400 C 0,400 0,133 0,133 C 135.3214285714286,161.53571428571428 270.6428571428572,190.07142857142858 382,181 C 493.3571428571428,171.92857142857142 580.7499999999998,125.24999999999999 698,108 C 815.2500000000002,90.75000000000001 962.3571428571429,102.92857142857144 1091,112 C 1219.642857142857,121.07142857142856 1329.8214285714284,127.03571428571428 1440,133 C 1440,133 1440,400 1440,400 Z");
    }
    75%{
      d: path("M 0,400 C 0,400 0,133 0,133 C 81.78571428571428,125.25 163.57142857142856,117.5 299,119 C 434.42857142857144,120.5 623.5,131.25 751,133 C 878.5,134.75 944.4285714285713,127.5 1049,126 C 1153.5714285714287,124.5 1296.7857142857142,128.75 1440,133 C 1440,133 1440,400 1440,400 Z");
    }
    100%{
      d: path("M 0,400 C 0,400 0,133 0,133 C 130.17857142857142,120.78571428571428 260.35714285714283,108.57142857142857 366,103 C 471.64285714285717,97.42857142857143 552.75,98.49999999999999 657,112 C 761.25,125.50000000000001 888.6428571428571,151.42857142857142 1023,157 C 1157.357142857143,162.57142857142858 1298.6785714285716,147.78571428571428 1440,133 C 1440,133 1440,400 1440,400 Z");
    }
  }

  .btn-1{

    background-color: #7880e8;
    padding: 10px 18px ;
    border: 2px solid #7880e8;
    color: white;
    border-radius: 25px;
    transition: .5s ease-in;
  }

  .btn-1:hover{

    color: #7880e8;
    background-color: transparent;
    border: 2px solid #7880e8;
  }

  i{
    padding: 0px 10px;
    transition: .5s;
  }

  i:hover{

    transform: translateY(-8px);
    cursor: pointer;
  }

  .btn-2{
    background-color: white;
    padding: 10px 18px ;
    border: 2px solid white;
    color: black;
    border-radius: 25px;

  }

  .btn-2:hover{

    color: white;
    background-color: transparent;
    border: 2px solid white;
  }

  .about{

    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    height:auto;
    padding: 20px;
    color: white;
    border-radius: 10px;
  }

.f-state{
  
 
padding: 50px 0px;
text-align: center;
color: white;

}

.back-side{
  background-color: #b8bcf2;
  background-image: linear-gradient(297deg, #b8bcf2 0%, #7980e6 83%);

}

.new-y{

  border-radius: 30px;
  padding: 10px 20px;
}

.box h2{

  color: #6b86ec;
}

.box h4{

  line-height: 1.3  ;
  font-weight: 400;
}

.card{

  border-radius: 18px;
  background: white;
  transition: 0.5s ease;
  cursor: pointer;
  height: auto;
  border: none;
  
  }

  .card img {

    border-top-right-radius: 18px;
    border-top-left-radius: 18px;
}





.btn-3{

  background-color: #7880e8;
  padding: 8px 5px ;
  border: 2px solid #7880e8;
  color: white;
  border-radius: 25px;
  transition: .5s ease-in;
  font-size: small;
}

.btn-3:hover{

  color: #7880e8;
  background-color: transparent;
  border: 2px solid #7880e8;
}



.btn-4{

  color: #7880e8;
  padding: 8px 5px ;
  transition: .5s ease-in;
  border: none;
  background-color: transparent;
}

a{
  text-decoration: none;
}



.foot-back{

  background-color: #7980e6;
background-image: linear-gradient(90deg, #7980e6 0%, #b8bcf2 100%);

}